
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/sttest.css') }}">
   
    <title>Охрана труда</title>
    </head>
<body >

<div  style=" background-color: #70aff0; color: black" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  box-shadow">
      <h4 class="my-0 mr-md-auto font-weight-bold " >Охрана труда</h4>
      <nav class="my-2 my-md-0 mr-md-3">
       
       {% if not current_user.is_authenticated %}
          <a class="p-2 text-dark" href="/login">Log In / Register</a>
        {% else %}
        {{ current_user.login }}
           <a  href="/logout" style="color:black; text-decoration: underline">Logout</a>
        {% endif %}
        {% if  current_user.is_admin %}
           <a  href="/admin" style="color:black; text-decoration: underline">Панель администратора</a>
        {% endif %}
        {% if current_user.is_manager %}
           <a  href="/arm" style="color:black; text-decoration: underline">АРМ менеджера по охране труда</a>
        {% endif %}
        {% if not  current_user.is_manager and not current_user.is_admin %}
           <a  href="/test" style="color:black; text-decoration: underline">Тестирование</a>
        {% endif %}
        
        
      </nav>
    </div>
</body>
</html>